.section {
    padding: 5rem 1rem;
}
.section > div {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 65rem;
    max-width: 65rem;
}
.section > div > header {
    text-transform: uppercase;
    font-size: var(--h2);
    font-weight: 700;
    margin-bottom: 2rem;
}