.our-services-options {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
    flex-flow: row wrap;
}
.our-services-options > button {
    background-color: inherit;
    color: inherit;
    border: none;
    box-shadow: 2px 2px 5px 2px var(--soft-shadow-color);
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
}
.our-services-options .active-button {
    background-color: var(--primary-color);
}
#Giving-catalog main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}
#Giving-catalog .iconNdesc {
    margin-top: 2.5rem;
}
@media screen and (max-width: 1100px) {
    #Giving-catalog main { 
        justify-content: center;
     }
}
@media screen and (max-width: 720px) {
    .giving-catalog #Giving-catalog {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
