.error-page {
    min-height: var(--full-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-page .section {
    padding-top: 0;
}
.error-page h3 {
    font-size: var(--h1);
    margin-bottom: 0;
}
.error-page p {
    font-size: var(--h4);
    margin-bottom: 4rem;
}
.error-page img {
    width: 10rem;
}
.error-page button {
    width: 13rem;
    height: 4rem;
    margin-bottom: 2rem;
    font-size: var(--p1);
    font-family: inherit;
    color: var(--bg-color);
    background-color: var(--color-2);
    outline: none;
    border: none;
    border-radius: 2rem;
}