.home {
    font-family: var(--choice-font);
}
#intro{
    /* Full screen minus navbar height*/
    height: var(--full-height);
    background-image: url("https://res.cloudinary.com/dirwr8cde/image/upload/v1703697304/wcim/wcim-main-pic_helybz.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: var(--bg-color);
    background-color: var(--soft-shadow-actual-color);
}
#intro > div {
    position: absolute;
    left: 1rem;
    bottom: 5rem;
    font-weight: 900;
}
#intro header {
    text-transform: uppercase;
    font-size: var(--h1);
    max-width: 53rem;
    margin-bottom: 1.5rem;
    background-color: var(--text-bg-color);
    box-shadow: var(--text-box-shadow);
}
#intro p {
    margin-top: 1.5rem;
    font-size: var(--p1);
    font-weight: normal;
    color: var(--light);
    background-color: var(--light-text-bg-color);
    box-shadow: var(--light-text-box-shadow);
    padding: 0 1rem;
}
#intro .socials {
   display: none;
}
#our-mission p {
    font-size: var(--p1);
    text-align: center;
    line-height: 2.5rem;
    opacity: 0.98;
}
 #what-we-do {
    background-color: var(--soft-shadow-actual-color);
    padding-left: 0;
    padding-right: 0;
 }
 #what-we-do .options-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
 }
 #what-we-do a{
    max-width: 50%;
    color: inherit;
    text-decoration: none;
 }
 .iconNdesc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    color: var(--text-color);
    font-size: var(--p3);
    background-color: var(--primary-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    opacity: 0.8;
    box-shadow: var(--light-text-box-shadow);
    animation: upNdown 2s infinite ;
 }
 #giving-catalog {
    text-transform: uppercase;
    font-size: var(--h2);
    letter-spacing: 0.2rem;
 }
 #giving-catalog > div {
    width: 100%;
    background-color: var(--primary-color);
 }
 #giving-catalog a{
    width: 100%;
    padding: 5rem 0;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
 }
 #giving-catalog img {
    width: 10rem;
    min-width: 10rem;
 }

 @media screen and (max-width: 1100px) {
    #intro header {
        max-width: 90vw;
    }
    
 }
 @media screen and (max-width: 900px) {
    #our-stories {
        padding-left: 0;
        padding-right: 0;
    }
    #what-we-do .options-container {
        margin-top: 1rem;
    }
    #what-we-do a {
        max-width: 45rem;
    }
 }
 @media screen and (max-width: 720px) {
    #intro{
        height: calc(100vh - 3.45rem);
        background-size: 100vw calc(100vw/1.538);
        background-position: top;
        color: var(--text-color);
    }
    #intro > div {
        text-align: center;
        /* top: calc(100vw/1.5); */
        position: relative;
        padding-top: calc(100vw/1.45);
        box-sizing: border-box;
        width: 100%;
        left: 0;
        bottom: 0;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    #intro header {
        background-color: inherit;
        box-shadow: none;
    }
    #intro p {
        color: inherit;
        background-color: inherit;
        box-shadow: none;
    }
    #intro .bigger {
        margin: 0.5rem 0;
    }
 }
 @media screen and (max-width: 560px) {
    #intro header {
        font-size: var(--h1);
    }
    #intro .socials {
        display: flex;
        position: absolute;
        bottom: 1.5rem;
        right: auto;
        top: auto;
        opacity: 0.75;
    }
    #our-mission p {
        font-size: var(--p2);
    }
    #giving-catalog {
        font-size: var(--h3);
    }        
    #giving-catalog img{
        width: 5rem;
        min-width: 5rem;
    }
    #giving-catalog a {
        gap: 1.5rem;
    }
    .iconNdesc {
        width: 2.5rem;
        height: 2.5rem;
    }
    .iconNdesc i {
        font-size: 2rem !important;
    }
 }


 @keyframes upNdown {
    0% { transform: translateY(0);}
    70% {transform: translateY(1rem);}
    100% {transform: translateY(0);}
 }


