footer {
    font-size: var(--p4);
    font-weight: lighter;
}
.footer-1 {
    background-color: var(--soft-shadow-actual-color);
    padding: 3rem 1rem 2rem;
    box-sizing: border-box;
}
footer > main {
    width: 65rem;
    max-width: 65rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;    
}
/* .footer-2 > main {
    display: block;
} */
.footer-1 > main > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-1 > main > div > div {
    display: flex;
    gap: 2rem;
}


footer section {
    max-width: 20rem;
}
footer header {
    font-size: var(--h4);
    font-weight: 700;
    margin-bottom: 1rem;
}
footer p {
    opacity: 0.85;
}
footer a {
    text-decoration: none;
    color: inherit;
}
#Learn-more > div {
    margin-bottom: 1rem;
    font-size: var(--p2);
    width: fit-content;
}
footer form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
footer form input {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1rem;
    background-color: var(--bg-color);
    border: none;
    color: inherit;
    font-size: var(--p4);
    opacity: 0.8;
}
footer form input:focus {
    outline: none;
}
footer form button {
    padding: 1rem 1rem;
    font-size: 0.95rem;
    font-weight: 700;
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
    margin-bottom: 2rem;
}
footer form button:hover {
    opacity: 0.8;
}
.footer-1 > main > div:last-of-type {
    margin-top: 2rem;
    align-items: center;
}
.footer-1 > main > div:last-of-type > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.footer-1 > main > div:last-of-type > div > span {
    opacity: 0.9;
}
.footer-2 {
    opacity: 0.7;
}
.footer-2  p {
    margin: 0.3rem 0 0.7rem;
    /* font-size: 0.85rem; */
}

@media screen and (max-width: 900px) {
    .footer-1 > main > div {
        flex-flow: row wrap;
        /* justify-content: center; */

    }
    .footer-1 > main > div > div {
        width: 100%;
        margin-bottom: 1.5rem;
        flex-flow: row wrap;
        gap: 1.5rem;
        /* justify-content: space-between; */
    }
    #Learn-more  {
        /* min-width: 20rem; */
    }
    footer form {}
 }