.about-us #our-mission, .about-us #testimonials {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}
.about-us #our-mission header,  .about-us #testimonials header{
    margin-bottom: 1rem;
}
.about-us #our-mission p {
    text-align: left;
}
.direction {
    background-color: var(--soft-shadow-actual-color);
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
}
.direction p, .summon p {
    max-width: 65rem;
}
.summon {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 1rem ;
    font-weight: 700;
    font-size: var(--h2);
    text-align: center;
}