/* Navbar heights; 0-720: 3.45rem, 721-1100: 4.75rem, 1100-infinity: 4.8rem */
.nav-container{
    background-color: var(--bg-color);
    padding: 1.2rem 1rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0;
    z-index: 3;
}
.nav-container a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}
.nav-options{
    display: flex;
    align-items: center;
    font-family: var(--choice-font);
    font-weight: 700;
}
.nav-options > div{
    display: flex;
    gap: 1.5rem;
    flex-flow: row-reverse;
}
.nav-options > nav{
    display: flex;
    margin: 0 1.5rem;
}
.nav-option{
    position: relative;
    padding: 0 0.75rem;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 4;
    font-size: var(--p2);
}
.nav-option > a {
    opacity: 0.98;
}
.nav-container .donate-button {
    font-size: var(--p4);
}
.sub-options-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding-top: 1.6rem;
}
.active-bar{
    width: 100%;
    height: 0.25rem;
    background-color: var(--color-2);
    border-radius: 0.3rem;
}
.sub-option-container{
    background-color: var(--bg-color);
    display: flex;
    flex-flow: row wrap;
}
.sub-option-container.double-column{
    width: 24rem;
}
.sub-option-container.triple-column{
    width: 36rem;
}
.sub-option{
    width: 12rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 300;
}
.sub-option > img {
    width: 1.8rem;
    height: 1.8rem;
}
.sub-option-hover{
    text-decoration: underline !important;
    background-color: var(--soft-shadow-color);
}
#search-bar {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}
.nav-search-bar{ 
    width: 100%;
    background-color: var(--soft-shadow-actual-color);
    font-family: var(--choice-font);
    display: flex;
    justify-content: center;
    padding: 1.5rem 1rem;
    box-sizing: border-box;    
}
.nav-search-bar > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0.8;
}
.nav-search-bar > div > span {
   font-size: var(--h4);
   font-weight: 700;
}
.nav-search-bar > div > input {
    width: 30rem;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid var(--text-color);
    color: inherit;
    font-family: inherit;
    font-weight: 300;
    font-size: var(--p3);
    padding: 0.5rem 0.1rem;
    box-sizing: border-box;
}
.nav-search-bar > div > input:focus{
    outline: none;
}
.menu-icon {
    display: none;
}

@media screen and (max-width: 1440px) {
    .nav-option {
        font-size: var(--p4);
    }
}
@media screen and (max-width: 1100px) {
    .nav-options > nav {
        display: none;
    }
    .nav-options > div {
        gap: 1rem;
        margin-right: 1rem;
    }
    .menu-icon {
        display: block;
        margin-left: 1rem;
    }
}
@media screen and (max-width: 720px) {
    .nav-container {
        padding: 0.8rem 1rem;
    }
    .nav-options i{
        font-size: 1.5rem !important;
    }
    .nav-options .donate-button{
        font-size: 0.8rem;
        padding: 0.45rem 0.8rem;
        border-radius: 0.45rem;
    }
    .nav-search-bar {
        padding: 1rem 1rem 1.2rem;
    }
    .nav-search-bar > div {
        width: 100%;
    }
    .nav-search-bar > div > span {
        font-size: var(--p2);
    }
    .nav-search-bar > div > input {
        width: 100%;
        padding: 0.25rem 0.1rem;
    }
    .nav-search-bar .icon {
        font-size: 1.6rem !important;
    }
}