.nav-container{
    background-color: inherit;
    padding: 1.2rem 1rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0;
}
.nav-container a{
    text-decoration: none;
    color: inherit;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand > img {
    width: 3.5rem;
    height: 3.5rem;
}
.brand-name{
    margin-left: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
}
.brand-name > span {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.brand-name > span:first-of-type{
    font-family: 'Roboto Serif', serif;
    font-weight: 700;    
    letter-spacing: 0.2rem;
}
.brand-name > span:last-of-type{
    font-weight: 400;
    font-size: 1.2rem;
}
.nav-options{
    display: flex;
    align-items: center;
    font-family: var(--choice-font);
}
.nav-options > div{
    display: flex;
    gap: 1.5rem;
    flex-flow: row-reverse;
}
.nav-options > nav{
    display: flex;
    gap: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 2rem;
}